{% extends 'base.html' %}
{% block title %}
 About Us
{% endblock title %}


{% block body %}

<div class="container my-3">
    <h2>Welcome To CoverDrive.com – A Home Of Independent Cricket Writing</h2>
    <br>
    <p>We’re a community of cricket fans who follow this beautiful game. Or, in other words, a bunch of neurotic, obsessive cricket nerds who have far too much time on their hands. We’ll be here throughout the year to celebrate, bemoan and worry incessantly about the team’s fortunes.
    <br>
    <br>
    <strong>CoverDrive.com</strong> is a place for independent cricket writing. Come here and write whatever you think about Cricket.
    <br>
    <br>
    Thanks.
    </p>
</div>

{% endblock body %}