{% extends 'base.html' %}
{% load static %}

{% block title %}
  Cpp
{% endblock title %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="whole">
        <iframe style='height: 100vh; width: 80%;' src="https://youtube.com/embed/j8nAHeVKL08" id="iframe">
        </iframe>
        <div class="slider">

            <button id="btn0" class="same">C++ Lecture Number 1</button>
            <button id="btn1" class="same">C++ Lecture Number 2</button>
            <button id="btn2" class="same">C++ Lecture Number 3</button>
            <button id="btn3" class="same">C++ Lecture Number 4</button>
            <button id="btn4" class="same">C++ Lecture Number 5</button>
            <button id="btn5" class="same">C++ Lecture Number 6</button>
            <button id="btn6" class="same">C++ Lecture Number 7</button>
            <button id="btn7" class="same">C++ Lecture Number 8</button>
            <button id="btn8" class="same">C++ Lecture Number 9</button>
            <button id="btn9" class="same">C++ Lecture Number 10</button>
            <button id="btn10" class="same">C++ Lecture Number 11</button>
            <button id="btn11" class="same">C++ Lecture Number 12</button>
            <button id="btn12" class="same">C++ Lecture Number 13</button>
            <button id="btn13" class="same">C++ Lecture Number 14</button>
            <button id="btn14" class="same">C++ Lecture Number 15</button>
            <button id="btn15" class="same">C++ Lecture Number 16</button>
            <button id="btn16" class="same">C++ Lecture Number 17</button>
            <button id="btn17" class="same">C++ Lecture Number 18</button>
            <button id="btn18" class="same">C++ Lecture Number 19</button>
            <button id="btn19" class="same">C++ Lecture Number 20</button>
            <button id="btn20" class="same">C++ Lecture Number 21</button>
            <button id="btn21" class="same">C++ Lecture Number 22</button>
            <button id="btn22" class="same">C++ Lecture Number 23</button>
            <button id="btn23" class="same">C++ Lecture Number 24</button>
            <button id="btn24" class="same">C++ Lecture Number 25</button>
            <button id="btn25" class="same">C++ Lecture Number 26</button>
            <button id="btn26" class="same">C++ Lecture Number 27</button>
            <button id="btn27" class="same">C++ Lecture Number 28</button>
            <button id="btn28" class="same">C++ Lecture Number 29</button>
            <button id="btn29" class="same">C++ Lecture Number 30</button>
            <button id="btn30" class="same">C++ Lecture Number 31</button>
            <button id="btn31" class="same">C++ Lecture Number 32</button>
            <button id="btn32" class="same">C++ Lecture Number 33</button>
            <button id="btn33" class="same">C++ Lecture Number 34</button>
            <button id="btn34" class="same">C++ Lecture Number 35</button>
            <button id="btn35" class="same">C++ Lecture Number 36</button>
            <button id="btn36" class="same">C++ Lecture Number 37</button>
            <button id="btn37" class="same">C++ Lecture Number 38</button>
            <button id="btn38" class="same">C++ Lecture Number 39</button>
            <button id="btn39" class="same">C++ Lecture Number 40</button>
            <button id="btn40" class="same">C++ Lecture Number 41</button>
            <button id="btn41" class="same">C++ Lecture Number 42</button>
            <button id="btn42" class="same">C++ Lecture Number 43</button>
            <button id="btn43" class="same">C++ Lecture Number 44</button>
            <button id="btn44" class="same">C++ Lecture Number 45</button>
            <button id="btn45" class="same">C++ Lecture Number 46</button>
            <button id="btn46" class="same">C++ Lecture Number 47</button>
            <button id="btn47" class="same">C++ Lecture Number 48</button>
            <button id="btn48" class="same">C++ Lecture Number 49</button>
            <button id="btn49" class="same">C++ Lecture Number 50</button>
            <button id="btn50" class="same">C++ Lecture Number 51</button>
            <button id="btn51" class="same">C++ Lecture Number 52</button>
            <button id="btn52" class="same">C++ Lecture Number 53</button>
            <button id="btn53" class="same">C++ Lecture Number 54</button>
            <button id="btn54" class="same">C++ Lecture Number 55</button>
            <button id="btn55" class="same">C++ Lecture Number 56</button>
            <button id="btn56" class="same">C++ Lecture Number 57</button>
            <button id="btn57" class="same">C++ Lecture Number 58</button>
            <button id="btn58" class="same">C++ Lecture Number 59</button>
            <button id="btn59" class="same">C++ Lecture Number 60</button>
            <button id="btn60" class="same">C++ Lecture Number 61</button>
            <button id="btn61" class="same">C++ Lecture Number 62</button>
            <button id="btn62" class="same">C++ Lecture Number 63</button>
            <button id="btn63" class="same">C++ Lecture Number 64</button>
            <button id="btn64" class="same">C++ Lecture Number 65</button>
            <button id="btn65" class="same">C++ Lecture Number 66</button>
            <button id="btn66" class="same">C++ Lecture Number 67</button>
            <button id="btn67" class="same">C++ Lecture Number 68</button>
            <button id="btn68" class="same">C++ Lecture Number 69</button>
            <button id="btn69" class="same">C++ Lecture Number 70</button>
            <button id="btn70" class="same">C++ Lecture Number 71</button>
            <button id="btn71" class="same">C++ Lecture Number 72</button>
            <button id="btn72" class="same">C++ Lecture Number 73</button>
            <button id="btn73" class="same">C++ Lecture Number 74</button>
        </div>
    </div>
</body>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'SF Pro Display', 'sans serif';
    }

    .same {
        display: visible;
    }

    .whole {
        display: flex;
        flex-direction: row;
        margin: 0;
        height: 100vh;
    }

    .slider {
        height: 100vh;
        width: 22%;
        overflow: auto;
    }

    button {
        font-size: 17px;
        width: 100%;
        height: 100px;
        text-decoration: none;
        cursor: pointer;
        background-color: white;
        border: none;
        transition: all 0.25s;
    }

    button:hover {
        background-color: rgb(121, 121, 121);
    }
</style>
<script>

    const urlLog = {

        btn0: 'https://youtube.com/embed/j8nAHeVKL08',
        btn1: 'https://youtube.com/embed/oW2r0r_i5Ps',
        btn2: 'https://youtube.com/embed/jigb6W35zHc',
        btn3: 'https://youtube.com/embed/JrnQ-915czY',
        btn4: 'https://youtube.com/embed/J05uoTbGOvQ',
        btn5: 'https://youtube.com/embed/7D5A5ZMKRWw',
        btn6: 'https://youtube.com/embed/a7Wim2t053E',
        btn7: 'https://youtube.com/embed/i3a-G6Ebh9E',
        btn8: 'https://youtube.com/embed/AY96XFqb934',
        btn9: 'https://youtube.com/embed/a7dfSBrTZtE',
        btn10: 'https://youtube.com/embed/DJh5NfK7h-U',
        btn11: 'https://youtube.com/embed/EvYmTCx9BFs',
        btn12: 'https://youtube.com/embed/ePJxpxsnkGw',
        btn13: 'https://youtube.com/embed/jCfR7CFlzts',
        btn14: 'https://youtube.com/embed/RFLFX1boGwo',
        btn15: 'https://youtube.com/embed/oQbyN-vDghA',
        btn16: 'https://youtube.com/embed/oVvvwEx-gBw',
        btn17: 'https://youtube.com/embed/JRKs3s15Kjc',
        btn18: 'https://youtube.com/embed/8qZb09suSHY',
        btn19: 'https://youtube.com/embed/nGJTWaaFdjc',
        btn20: 'https://youtube.com/embed/d363dW0AeS8',
        btn22: 'https://youtube.com/embed/qq05D2yFIHA',
        btn23: 'https://youtube.com/embed/QcLI2zGVYFo',
        btn24: 'https://youtube.com/embed/aKnc1A5NOKo',
        btn25: 'https://youtube.com/embed/HK6gnkQIgqI',
        btn26: 'https://youtube.com/embed/Tk-4KUoatg8',
        btn27: 'https://youtube.com/embed/GTJTsMR_fro',
        btn28: 'https://youtube.com/embed/EEJUPXFKe8Q',
        btn29: 'https://youtube.com/embed/CYXIlh5DURI',
        btn30: 'https://youtube.com/embed/7BmtA-7r1Fg',
        btn31: 'https://youtube.com/embed/Ok-5YqcGl6c',
        btn32: 'https://youtube.com/embed/c_9oCs-9fvg',
        btn33: 'https://youtube.com/embed/jhZjyaNO4Wo',
        btn34: 'https://youtube.com/embed/rm4tGxWBkqs',
        btn35: 'https://youtube.com/embed/RO1ZYW9NAzg',
        btn36: 'https://youtube.com/embed/Dmrc82dL7E8',
        btn37: 'https://youtube.com/embed/S1BR0xDdsyM',
        btn38: 'https://youtube.com/embed/uHkIhwUspdI',
        btn39: 'https://youtube.com/embed/BLb6-ZgxqHg',
        btn40: 'https://youtube.com/embed/h3INeRqf2vU',
        btn41: 'https://youtube.com/embed/SW36UpSdmsM',
        btn42: 'https://youtube.com/embed/ZqfArYoV9Lg',
        btn43: 'https://youtube.com/embed/kzMQpPX7TUY',
        btn44: 'https://youtube.com/embed/eYV-TohBaa0',
        btn45: 'https://youtube.com/embed/gvOO4H7j_qI',
        btn46: 'https://youtube.com/embed/eGhDSjWGXQc',
        btn47: 'https://youtube.com/embed/qHrnTf5DOeI',
        btn48: 'https://youtube.com/embed/-Re7K7mHtv4',
        btn49: 'https://youtube.com/embed/2Y0b9nFA9s8',
        btn50: 'https://youtube.com/embed/ANpUQgyRPKk',
        btn51: 'https://youtube.com/embed/OCmCyYxSi2I',
        btn52: 'https://youtube.com/embed/cEOfK_L4gGA',
        btn53: 'https://youtube.com/embed/B-WWdC-H0zw',
        btn54: 'https://youtube.com/embed/0YQ_yhX46uk',
        btn55: 'https://youtube.com/embed/fB3JHNnlRfI',
        btn56: 'https://youtube.com/embed/fB3JHNnlRfI',
        btn57: 'https://youtube.com/embed/RBAWWutf0fY',
        btn58: 'https://youtube.com/embed/Ma0P9T4nTDA',
        btn59: 'https://youtube.com/embed/LS1zjr1wog4',
        btn60: 'https://youtube.com/embed/7ku2AQsWwZE',
        btn61: 'https://youtube.com/embed/U_w-RfMrX18',
        btn62: 'https://youtube.com/embed/kKJeekDKU30',
        btn63: 'https://youtube.com/embed/SuiGXMqGKak',
        btn64: 'https://youtube.com/embed/IdY8t0n8VBs',
        btn66: 'https://youtube.com/embed/YTS0ShpFsrM',
        btn67: 'https://youtube.com/embed/Y_RMNcXAM1U',
        btn68: 'https://youtube.com/embed/c9iREsYpayk',
        btn69: 'https://youtube.com/embed/m0gnToak2-g',
        btn70: 'https://youtube.com/embed/wKDvMcJiEPM',
        btn71: 'https://youtube.com/embed/OI4CXwpMBhE',
        btn72: 'https://youtube.com/embed/KwS-Vbsha1k',
        btn73: 'https://youtube.com/embed/g4AQiptpcI8',

    }
    const modal = document.querySelectorAll('.same');
    const change = document.getElementById('iframe');
    for (let i = 0; i < modal.length; i++) {
        modal[i].addEventListener('click', function () {
            change.src = urlLog[modal[i].id];

        });
    }
</script>

{% endblock body %}