{% extends 'base.html' %}
{% block title %}
{{ object.title }}
{% endblock title %}


{% block body %}
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#"><h2>CoverDrive<small>.com</small></h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>
    </ul>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article_new' %}">Add new article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
        </li>
        {% endif %}
      </ul>
      </ul>
    </div>
</nav>
<!--/.Navbar -->
<br>
<div class="container py-3">
  <h1>{{ object.title }}</h1>
  <small class="px-1">by <strong><a href="{% url 'author_posts' object.author.username %}">{{ object.author }}</a></strong></small>
  <br>
  <small class="px-1">Date:{{ object.date_added|date:"F d, Y" }}</small>
  <img src="{{ article.image.url }}" alt="">
  <div class="container my-3"></div><p>{{ object.content }}</p></div>
  <div class="container">{% if object.author == user %}
    <a href="{% url 'article_edit' object.id%}">Edit this article</a>
    <br>
    <a href="{% url 'article_delete' object.id%}">Delete this article</a>
    {% endif %}
  </div>
  <br>
</div>

{% endblock body %}