{% extends 'base.html' %}
{% block title %}
{{ object.title }}
{% endblock title %}


{% block body %}

<br>
<div class="container py-1">
  <h1>{{ object.title }}</h1>
  <small class="px-1">by <strong><a href="{% url 'author_posts' object.author.username %}">{{ object.author }}</a></strong></small>
  <br>
  <small class="px-1">Date:{{ object.date_added|date:"F d, Y" }}</small>
  <br>
  <div class= "py-10"><img src="{{ article.image.url }}" width="800" alt=""></div>
  <div class="container my-3"></div><p>{{ object.content }}</p></div>
  <div class="container">{% if object.author == user %}
    <a href="{% url 'article_edit' object.id%}">Edit this article</a>
    <br>
    <a href="{% url 'article_delete' object.id%}">Delete this article</a>
    {% endif %}
  </div>
  <br>
</div>

{% endblock body %}