{% extends 'base.html' %}
{% load static %}
{% block title %}
 Home
{% endblock title %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template1</title>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="mainpage">
        <header id="headerID">
           
        </header>
    </div>
    <div id="MainHeadingGeek">
        GEEK PRO
    </div>
    <div class="subLine px-3">
        Find The Best Courses Available for free on the Internet and Grow!!
    </div>
    <section>
        <div class="content">
            <div class="img-con">

            </div>
            <div class="about-img">
                <div id="head">
                    Pandemic? No Problem!
                </div>
                <p class="con-p">
                    Here we allow you to find your favaorite skill and learning . In a pandemic like this, lets upgrade
                    our standard by learing some fantastic skills which gives us confidence and skill-based portfolio.
                </p>
            </div>
        </div>
        <div class="content2">
            <div class="about-img">
                <div id="head">
                    Knowledge is free
                </div>
                <p class="con-p">
                    No payment is required to learn and grow. You can find your favaorite skill's learning material here
                    Without paying a single money. You just need the motivation to start, Knowledge is power that can
                    not be acheived without hardwork So keep learing.
                </p>
            </div>
            <div class="img-con2">

            </div>
        </div>
    </section>
    <section class="disc">
        <div id="Phead">
            B. B. King said
        </div>
        <p id="pppphead">
            "The beautiful thing about learning is nobody can take it away from you"
        </p>

    </section>
    <div id="ReadOurBlogs">
        Read Our Blogposts <a href="{% url 'blogs' %}">Here</a>
    </div>
    <section class="photo-gal">

        <div id="box1">

        </div>
        <div id="box2">

        </div>
        <div id="box3">

        </div>

    </section>

    <footer>
        <div>
            CopyRight &#169; 2021 | GeekPro
        </div>
    </footer>

</body>
<script src="{% static 'js/app.js' %}"></script>

{% endblock body %}