{% extends 'base.html' %}
{% load static %}

{% block title %}
  Python
{% endblock title %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="whole">
        <iframe style='height: 100vh; width: 80%;' src="https://www.youtube.com/embed/QXeEoD0pB3E" id="iframe">
        </iframe>
        <div class="slider">

            <button id="btn0" class="same">Python Lecture Number 1</button>
            <button id="btn1" class="same">Python Lecture Number 2</button>
            <button id="btn2" class="same">Python Lecture Number 3</button>
            <button id="btn3" class="same">Python Lecture Number 4</button>
            <button id="btn4" class="same">Python Lecture Number 5</button>
            <button id="btn5" class="same">Python Lecture Number 6</button>
            <button id="btn6" class="same">Python Lecture Number 7</button>
            <button id="btn7" class="same">Python Lecture Number 8</button>
            <button id="btn8" class="same">Python Lecture Number 9</button>
            <button id="btn9" class="same">Python Lecture Number 10</button>
            <button id="btn10" class="same">Python Lecture Number 11</button>
            <button id="btn11" class="same">Python Lecture Number 12</button>
            <button id="btn12" class="same">Python Lecture Number 13</button>
            <button id="btn13" class="same">Python Lecture Number 14</button>
            <button id="btn14" class="same">Python Lecture Number 15</button>
            <button id="btn15" class="same">Python Lecture Number 16</button>
            <button id="btn16" class="same">Python Lecture Number 17</button>
            <button id="btn17" class="same">Python Lecture Number 18</button>
            <button id="btn18" class="same">Python Lecture Number 19</button>
            <button id="btn19" class="same">Python Lecture Number 20</button>
            <button id="btn20" class="same">Python Lecture Number 21</button>
            <button id="btn21" class="same">Python Lecture Number 22</button>
            <button id="btn22" class="same">Python Lecture Number 23</button>
            <button id="btn23" class="same">Python Lecture Number 24</button>
            <button id="btn24" class="same">Python Lecture Number 25</button>
            <button id="btn25" class="same">Python Lecture Number 26</button>
            <button id="btn26" class="same">Python Lecture Number 27</button>
            <button id="btn27" class="same">Python Lecture Number 28</button>
            <button id="btn28" class="same">Python Lecture Number 29</button>
            <button id="btn29" class="same">Python Lecture Number 30</button>
            <button id="btn30" class="same">Python Lecture Number 31</button>
            <button id="btn31" class="same">Python Lecture Number 32</button>
            <button id="btn32" class="same">Python Lecture Number 33</button>
            <button id="btn33" class="same">Python Lecture Number 34</button>
            <button id="btn34" class="same">Python Lecture Number 35</button>
            <button id="btn35" class="same">Python Lecture Number 36</button>
            <button id="btn36" class="same">Python Lecture Number 37</button>
            <button id="btn37" class="same">Python Lecture Number 38</button>
            <button id="btn38" class="same">Python Lecture Number 39</button>
            <button id="btn39" class="same">Python Lecture Number 40</button>
            <button id="btn40" class="same">Python Lecture Number 41</button>
            <button id="btn41" class="same">Python Lecture Number 42</button>
            <button id="btn42" class="same">Python Lecture Number 43</button>
            <button id="btn43" class="same">Python Lecture Number 44</button>
            <button id="btn44" class="same">Python Lecture Number 45</button>
            <button id="btn45" class="same">Python Lecture Number 46</button>
            <button id="btn46" class="same">Python Lecture Number 47</button>
            <button id="btn47" class="same">Python Lecture Number 48</button>
            <button id="btn48" class="same">Python Lecture Number 49</button>
            <button id="btn49" class="same">Python Lecture Number 50</button>
            <button id="btn50" class="same">Python Lecture Number 51</button>
            <button id="btn51" class="same">Python Lecture Number 52</button>
            <button id="btn52" class="same">Python Lecture Number 53</button>
            <button id="btn53" class="same">Python Lecture Number 54</button>
            <button id="btn54" class="same">Python Lecture Number 55</button>
            <button id="btn55" class="same">Python Lecture Number 56</button>
            <button id="btn56" class="same">Python Lecture Number 57</button>
            <button id="btn57" class="same">Python Lecture Number 58</button>
            <button id="btn58" class="same">Python Lecture Number 59</button>
            <button id="btn59" class="same">Python Lecture Number 60</button>
            <button id="btn60" class="same">Python Lecture Number 61</button>
            <button id="btn61" class="same">Python Lecture Number 62</button>
            <button id="btn62" class="same">Python Lecture Number 63</button>
            <button id="btn63" class="same">Python Lecture Number 64</button>
            <button id="btn64" class="same">Python Lecture Number 65</button>
            <button id="btn65" class="same">Python Lecture Number 66</button>
            <button id="btn66" class="same">Python Lecture Number 67</button>
            <button id="btn67" class="same">Python Lecture Number 68</button>
            <button id="btn68" class="same">Python Lecture Number 69</button>
            <button id="btn69" class="same">Python Lecture Number 70</button>
            <button id="btn70" class="same">Python Lecture Number 71</button>
            <button id="btn71" class="same">Python Lecture Number 72</button>
            <button id="btn72" class="same">Python Lecture Number 73</button>
            <button id="btn73" class="same">Python Lecture Number 74</button>
            <button id="btn74" class="same">Python Lecture Number 75</button>
            <button id="btn75" class="same">Python Lecture Number 76</button>
            <button id="btn76" class="same">Python Lecture Number 77</button>
            <button id="btn77" class="same">Python Lecture Number 78</button>
            <button id="btn78" class="same">Python Lecture Number 79</button>
            <button id="btn79" class="same">Python Lecture Number 80</button>
            <button id="btn80" class="same">Python Lecture Number 81</button>
            <button id="btn81" class="same">Python Lecture Number 82</button>
        </div>
    </div>
</body>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'SF Pro Display', 'sans serif';
    }

    .same {
        display: visible;
    }

    .whole {
        display: flex;
        flex-direction: row;
        margin: 0;
        height: 100vh;
    }

    .slider {
        height: 100vh;
        width: 22%;
        overflow: auto;
    }

    button {
        font-size: 17px;
        width: 100%;
        height: 100px;
        text-decoration: none;
        cursor: pointer;
        background-color: white;
        border: none;
        transition: all 0.25s;
    }

    button:hover {
        background-color: rgb(121, 121, 121);
    }
</style>
<script>

    const urlLog = {
        btn0: 'https://www.youtube.com/embed/QXeEoD0pB3E',
        btn1: 'https://www.youtube.com/embed/hEgO047GxaQ',
        btn2: 'https://www.youtube.com/embed/mbryl4MZJms',
        btn3: 'https://www.youtube.com/embed/DWgzHbglNIo',
        btn4: 'https://www.youtube.com/embed/TqPzwenhMj0',
        btn5: 'https://www.youtube.com/embed/Eaz5e6M8tL4',
        btn6: 'https://www.youtube.com/embed/Mf7eFtbVxFM',
        btn7: 'https://www.youtube.com/embed/2IsF7DEtVjg',
        btn8: 'https://www.youtube.com/embed/4V14G5_CNGg',
        btn9: 'https://www.youtube.com/embed/1U8TI16AR4s',
        btn10: 'https://www.youtube.com/embed/_OZIAHg5i7M',
        btn11: 'https://www.youtube.com/embed/gCCVsvgR2KU',
        btn12: 'https://www.youtube.com/embed/v5MR5JnKcZI',
        btn13: 'https://www.youtube.com/embed/AWAjbtWBzGs',
        btn14: 'https://www.youtube.com/embed/3dpJrMtxYeo',
        btn15: 'https://www.youtube.com/embed/UAMMEmga0WI',
        btn16: 'https://www.youtube.com/embed/PyfKCvHALj8',
        btn17: 'https://www.youtube.com/embed/EkYrfV7M1ks',
        btn18: 'https://www.youtube.com/embed/akcEaEH91gI',
        btn19: 'https://www.youtube.com/embed/4OX49nLNPEE',
        btn20: 'https://www.youtube.com/embed/PqFKRqpHrjw',
        btn21: 'https://www.youtube.com/embed/HZARImviDxg',
        btn22: 'https://www.youtube.com/embed/0ZvaDa8eT5s',
        btn23: 'https://www.youtube.com/embed/yCZBnjF4_tU',
        btn24: 'https://www.youtube.com/embed/JCRpVwtVL4I',
        btn25: 'https://www.youtube.com/embed/k8SXsT5TLxQ',
        btn26: 'https://www.youtube.com/embed/38svC3U7hVo',
        btn27: 'https://www.youtube.com/embed/SpTAxH_Geow',
        btn28: 'https://www.youtube.com/embed/6a39OjkCN5I',
        btn29: 'https://www.youtube.com/embed/9c9qhIcB3NA',
        btn30: 'https://www.youtube.com/embed/8LlXhtfNZEQ',
        btn31: 'https://www.youtube.com/embed/NYPKbmE0H6E',
        btn32: 'https://www.youtube.com/embed/8sF85TyunQA',
        btn33: 'https://www.youtube.com/embed/Blzp9iuhZqo',
        btn34: 'https://www.youtube.com/embed/BVfCWuca9nw',
        btn35: 'https://www.youtube.com/embed/ijXMGpoMkhQ',
        btn36: 'https://www.youtube.com/embed/eci9iU_s6Ag',
        btn37: 'https://www.youtube.com/embed/kB829ciAXo4',
        btn38: 'https://www.youtube.com/embed/QYUbLevwgDQ',
        btn39: 'https://www.youtube.com/embed/fsAzeNZXvkE',
        btn40: 'https://www.youtube.com/embed/7Sv4NmvdHcw',
        btn41: 'https://www.youtube.com/embed/gfhtaP5Wq7M',
        btn42: 'https://www.youtube.com/embed/XkL3SUioNvo',
        btn43: 'https://www.youtube.com/embed/TqqQld6m6A0',
        btn44: 'https://www.youtube.com/embed/hYzwCsKGRrg',
        btn45: 'https://www.youtube.com/embed/kj850Y8y8FI',
        btn46: 'https://www.youtube.com/embed/yNzxXZfkLUA',
        btn47: 'https://www.youtube.com/embed/1RuMJ53CKds',
        btn48: 'https://www.youtube.com/embed/pzNISmtmzcY',
        btn49: 'https://www.youtube.com/embed/7hjgRn-vfVQ',
        btn50: 'https://www.youtube.com/embed/gZwPdqC2Os0',
        btn51: 'https://www.youtube.com/embed/8O5kX73OkIY',
        btn52: 'https://www.youtube.com/embed/WIP3-woodlU',
        btn53: 'https://www.youtube.com/embed/ic6wdPxcHc0',
        btn54: 'https://www.youtube.com/embed/RSQjxL5WRNM',
        btn55: 'https://www.youtube.com/embed/lVfGQOzzRCM',
        btn56: 'https://www.youtube.com/embed/b7JzgybKvys',
        btn57: 'https://www.youtube.com/embed/Cn7AkDb4pIU',
        btn58: 'https://www.youtube.com/embed/6P-P879BcHQ',
        btn59: 'https://www.youtube.com/embed/P1vH3Pfw6BI',
        btn60: 'https://www.youtube.com/embed/CuK0g8OFzwo',
        btn61: 'https://www.youtube.com/embed/9wd50TKv_OQ',
        btn62: 'https://www.youtube.com/embed/CcTzTuIsoFk',
        btn63: 'https://www.youtube.com/embed/UDmJGvM-OUw',
        btn64: 'https://www.youtube.com/embed/Dyu08G2l71c',
        btn65: 'https://www.youtube.com/embed/mziIj4M_uwk',
        btn66: 'https://www.youtube.com/embed/6SPDvPK38tw',
        btn67: 'https://www.youtube.com/embed/GqHLztqy0PU',
        btn68: 'https://www.youtube.com/embed/aequTxAvQq4',
        btn69: 'https://www.youtube.com/embed/ECxZtt6n90E',
        btn70: 'https://www.youtube.com/embed/0BhSWyDEDC4',
        btn71: 'https://www.youtube.com/embed/UldZOLylez4',
        btn72: 'https://www.youtube.com/embed/DE-ye0t0oxE',
        btn73: 'https://www.youtube.com/embed/Vca808JTbI8',
        btn74: 'https://www.youtube.com/embed/5KjapFQNxUo',
        btn75: 'https://www.youtube.com/embed/WDEyt2VHpj4',
        btn76: 'https://www.youtube.com/embed/vR5utJvN4JY',
        btn77: 'https://www.youtube.com/embed/UBLONzkmReE',
        btn78: 'https://www.youtube.com/embed/udO6gSLXujU',
        btn79: 'https://www.youtube.com/embed/qj-V2Ep4coY',
        btn80: 'https://www.youtube.com/embed/u4kr7EFxAKk',
        btn81: 'https://www.youtube.com/embed/6-F7nP1DwJs',

    }
    const modal = document.querySelectorAll('.same');
    const change = document.getElementById('iframe');
    for (let i = 0; i < modal.length; i++) {
        modal[i].addEventListener('click', function () {
            change.src = urlLog[modal[i].id];

        });
    }
</script>

{% endblock body %}